body {
  padding-left: $sidebar-width;

  nav {
    margin-left: -$sidebar-width;
  }

  aside.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}

aside.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: $fontsize-md;
  font-weight: 400;
  height: 100vh;
  z-index: $sidebar-zindex;

  .top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: $fontsize-big*2;
    min-width: 14rem;
    font-size: $fontsize-big;
    font-weight: 700;
    background-color: $sidebar-background;

    a {
      //padding: $padding-unit*2;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 22px;
      color: $sidebar-text-color;

      .close-icon {
        font-size: 20px;
      }
    }
  }

  #sidebar-app {
    position: absolute;
    background-color: $sidebar-background;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    color: $sidebar-text-color;
    top: 0;
    left: 0;

    .categories {
      margin-top: $padding-unit-sm;
      padding: 0 1rem $padding-unit-sm 1rem;
      overflow-y: auto;
      height: 100vh;
      font-size: $fontsize-sm;
      max-width: $sidebar-width;
      // max-width: 21rem;

      .sidebar-title {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        color: #FFFFFF;
      }

      .has-parent-margin {
        margin-left: 1rem;
      }
    }
  }
}

body.sidebar-visible {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: transparentize(darken($theme-color-main, 50), 0.5);
  }
}

body.sidebar-visible-mobile {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

aside.sidebar.expanded {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.65);

  #sidebar-app {
    display: flex;

    .category-detail {
      padding: 7rem 2rem 2rem 2rem;
      overflow: auto;
      height: 86vh;
      width: 40vw;
      max-width: 502px;
      font-size: $fontsize-md;
      border-left: 1px solid $color-background;
      display: flex;
      flex-direction: column;
      background-color: $color-background-2;

      h4 {
        font-family: 'Montserrat', sans-serif !important;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $sidebar-text-color;
        text-align: left;
      }

      .name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        .name {
          font-weight: bold;
        }

        .close-btn {
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .description-container {
        font-family: 'Noto Sans', sans-serif !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 21px !important;
        margin-bottom: 2rem;

        .description {
          margin-bottom: 12px;
        }

        .view-more {
          color: $color-text-c2;
          font-weight: 600;
        }
      }

      .section {
        font-family: 'Noto Sans', sans-serif !important;
        font-style: normal !important;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 21px !important;
        margin-bottom: 3rem; // remove this later
        .section-title {
          margin-bottom: 8px;
          font-weight: bold;
        }

        p.section-description {
          margin-bottom: 1.4rem;
        }

        .concepts-container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
        }

        .technologies-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: $padding-unit-big;

          .technology {
            .text {
              .name {
                color: $color-text-c;
              }

              .category {
                color: $color-text-c2;
                font-size: $fontsize-sm;
              }
            }
          }

          .technology:hover {
            background-color: $color-background;
          }
        }
      }

      .concept-link {
        background: #5C6FF6;
        border-radius: 64px;
        color: white;
        padding: 4px 1rem;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }

      .add-concept-btn {
        background: #363845;
        border-radius: 64px;
        color: $color-text-c2;
        padding: 4px 1rem;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }

      .contribute-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 212px;
        min-height: 72px;
        background: #363845;
        border-radius: 8px;
        cursor: pointer;

        .contribute {
          color: $color-text-c2;
        }
      }
    }


    .minimize {
      font-size: $fontsize-big;
      padding: $padding-unit-md;
      background-color: $theme-color-main-c;
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .minimize:hover {
      background-color: $theme-color-main-c;
    }
  }
}

@import "tree";