body {
  padding-left: $sidebar-width;

  nav {
    margin-left: -$sidebar-width;
  }

  aside.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}

aside.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: $fontsize-md;
  font-weight: 400;
  height: 100vh;
  z-index: $sidebar-zindex;

  .top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: $fontsize-big*2;
    min-width: $sidebar-width;
    font-size: $fontsize-big;
    font-weight: 700;

    a {
      //padding: $padding-unit*2;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: $fontsize-big*1.2;
      line-height: $lineheight-base;
      color: $sidebar-text-color;

      .close-icon {
        font-size: $fontsize-big*1.2;
      }
    }
  }

  #sidebar-app {
    position: absolute;
    background-color: $sidebar-background;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: $fontsize-md;
    color: $sidebar-text-color;
    top: 0;
    left: 0;

    .categories {
      margin-top: $padding-unit-sm;
      padding: 0 1rem $padding-unit-sm 1rem;
      overflow-y: auto;
      height: 100vh;
      font-size: $fontsize-sm;
      max-width: $sidebar-width;
      // max-width: 21rem;

      a:hover {
        color: $theme-color-main;
      }

      .sidebar-title {
        font-weight: 600;
        font-size: $fontsize-big*1.2;
        margin-bottom: $padding-unit-big;
        margin-top: $padding-unit-big*1.5;
      }

      .has-parent-margin {
        margin-left: 1rem;
      }
    }
  }
}

body.sidebar-visible {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: transparentize(darken($color-background-3, 50), 0.5);
  }
}

body.sidebar-visible-mobile {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

aside.sidebar.expanded {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.65);

  #sidebar-app {
    display: flex;

    .minimize {
      font-size: $fontsize-big;
      padding: $padding-unit-md;
      background-color: $theme-color-accent;
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .minimize:hover {
      background-color: $theme-color-accent;
    }
  }

}

@import "tree";