.image-input-component {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $padding-unit-big;
  }

  img {
    border-radius: $radius-medium;
  }

  .flexible {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-unit;
    justify-content: space-between;
    align-items: flex-start;

    .input-option {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: $padding-unit-big;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: $padding-unit;
        min-width: $fontsize-big*15;
      }

      .option-container {
        white-space: nowrap;
      }
    }

    img.selected {

    }
  }
}

.image-upload {
  .dropzone {
    background-color: $color-background-2;
    margin-bottom: $padding-unit-md;
    padding: 1.5*$padding-unit $padding-unit;
    border: dotted 2px $color-background-3;
    border-radius: $radius-medium;
    text-align: center;
  }

  .upload-area {
    position: relative;
  }

  .dropzone-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $padding-unit;

    .thumbs-container {
      //min-height: 3*$fontsize-big;
      display: flex;
      flex-direction: row;
      gap: $padding-unit;
      justify-content: center;

      .file-container {
        position: relative;
        width: 150px;
        min-height: 100px;
        padding: $padding-unit-sm/2;
        border-radius: $radius-medium;
        background-color: $color-background-3;
      }

      img {
        border-radius: $radius-medium;
      }
    }
  }
}