.icon-info {
  color: $color-text-c;
  margin-left: $padding-unit;
  cursor: pointer;
}

.icon-info[data-tooltip]:hover {
  position: relative;
}

.icon-info[data-tooltip]:hover::before {
  all: initial;
  display: inline-block;
  border-radius: 5px;
  background-color: $color-background-3;
  content: attr(data-tooltip);
  color: $color-text-c2;
  position: absolute;
  bottom: 100%;
  width: $fontsize-md*15;
  left: 25%;
  transform: translate(-25%, 0);
  padding: $padding-unit;
  margin-bottom: $padding-unit-md;
  font-size: $fontsize-sm;
}

.icon-info[data-tooltip]:hover::after {
  all: initial;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $padding-unit solid transparent;
  border-right: $padding-unit solid transparent;
  border-top: $padding-unit solid $color-background-3;
  position: absolute;
  bottom: 100%;
  content: '';
  left: 25%;
  transform: translate(-25%, 0);
  margin-bottom: $padding-unit/2;
}