$form-input-bg: $card-bg;
$form-input-bg-focus: $card-bg;
$form-input-text: $color-text-c1;
$form-input-text-focus: $color-text;
$form-input-border: $color-background-2;
$form-input-border-focus: $theme-color-main;
$form-input-radius: $radius-medium;

.form-container {
  position: relative;
  background-color: $color-background-1;
  border-radius: $radius-big;

  .header {
    margin-bottom: 2rem;
  }
}

form {
  position: relative;
  padding: $padding-unit-big*2;
  display: flex;
  flex-direction: column;
  gap: $padding-unit-md*2;

  > * {
    margin: 0;
  }

  .buttons-container {
    display: flex;
    gap: $padding-unit-big;
    justify-content: end;
  }

  .btn {
    max-width: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    > * {
      flex-grow: 1;
    }

    .form-group input {
      flex-grow: 0;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label {
      font-size: $fontsize-md;
      margin-bottom: $padding-unit-md;
    }

    input {
      flex-grow: 1;
      height: fit-content;
    }

    input, textarea {
      color: $color-text;
    }
  }

  .form-group.row {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
  }

  .invalid-feedback {
    display: block;
  }

  .form-control_invalid__control {
    border-color: var(--color-text-red);
  }

}

.form-group .ss-main {
  .ss-single-selected, .ss-multi-selected {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: $form-input-radius;
  }
}

textarea {
  resize: vertical;
}


@import "rating";
@import "multistep";
@import "image_input";
//@import "react_select";
@import "bootstrap_forms";
@import "info";