//z-index
$dropdown-zindex: 20000;
$sidebar-zindex: 10000;
$form-overlay: 30000;
$navbarsearch-zindex: 11000;
$collapsible-zindex: 90000;
$modal-backdrop-zindex: 95000;
$modal-content-zindex: 96000;
$top-level: 97000;
$header-zindex: 1;