$button-radius: $radius-medium;

$button-bg: $theme-color-main;
$button-text: $theme-color-text-c;
$button-hover-bg: darken($button-bg, 20);

$button-secondary-bg: $theme-color-accent;
$button-secondary-text: $theme-color-text-ac;
$button-secondary-hover-bg: darken($button-secondary-bg, 20);

$button-light-bg: $theme-color-text-c;
$button-light-text: $theme-color-main;
$button-light-hover-bg: lighten($button-light-bg, 10);

$button-dark-bg: $theme-color-text-ac;
$button-dark-text: $theme-color-accent;
$button-dark-hover-bg: lighten($theme-color-text-ac, 10);

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $padding-unit-md;
  margin: 0;
  padding: $padding-unit-md/2 $padding-unit-big;
  max-width: 150px;
  border-radius: $button-radius;
  font-weight: 600;
  font-size: $fontsize-md;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s ease;
  //border: 1px solid $button-bg;
  background-color: $button-bg;
  color: $button-text;

  span.icon {
    font-size: $fontsize-sm;
    font-weight: 800 !important;
  }
}

a.btn:visited {
  color: $button-text;
}

.btn:hover {
  background-color: $button-hover-bg;
}

.btn.secondary {
  background-color: $button-secondary-bg;
  color: $button-secondary-text;
}

.btn.secondary:hover {
  background-color: $button-secondary-hover-bg;
}

.btn.light {
  background-color: $button-light-bg;
  color: $button-light-text;
}

.btn.light:hover {
  background-color: $button-light-hover-bg;
}

.btn.dark {
  background-color: $button-dark-bg;
  color: $button-dark-text;
  &:hover {
    background-color: $button-dark-hover-bg;
  }
}

.btn.danger {
  background-color: $theme-color-danger;
  &:hover {
    background-color: darken($theme-color-danger, 10);
  }
}

.btn.waiting {
  &:hover {
    cursor: not-allowed;
    filter: none;
  }

  > * {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn.block {
  max-width: 100%;
  width: 100%;
}

.btn[disabled], .btn:disabled {
  cursor: not-allowed;
  background-color: $color-background-3;
}