@import "images";
@import "tags";
@import "buttons";
@import "card";
@import "authentication";
@import "notifications";
@import "pagination";
@import "trees";

.overlay-waiting {
  background-color: transparentize(
                    lighten(desaturate($theme-color-main, 50), 30),
                  0.15);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $form-overlay;
  top: 0;
  left: 0;
  border-radius: $radius-big;
  display: flex;
  align-items: center;
  justify-content: center;

  .waiting-container {
    color: $theme-color-text;
    border-radius: $radius-medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $padding-unit-big;
  }
}

section.header {
  margin-bottom: $padding-unit-big*3;
}

.header {
  margin-bottom: $padding-unit-big*2;

  h1, h2, h3, h4, h5 {
    margin-bottom: $padding-unit-sm;
  }
}

.alert {
  margin-bottom: 0;

  span.close {
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.75rem;
  }

  span.close:hover {
    cursor: pointer;
  }
}


.toolbar {
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > a {
    display: flex;
    font-size: 0.9rem;
    padding: 0.25rem;
    //border-radius: $radius-small;
    color: $color-text;
  }

  > a:hover {
    //background-color: $color-background;
    //transition: background-color 0.5s ease-in-out;
    //border-radius: $radius-small;
    cursor: pointer;
  }

  > a.delete:hover {
    transition: color 0.5s ease-in-out;
    color: $color-danger;
  }
}

.alert-toolbar {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > span {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: $radius-small;
    color: $theme-color-accent;
  }

  > span:hover {
    background-color: rgba($color-background-3, 0.2);
    transition: background-color 0.5s ease-in-out;
    border-radius: $radius-small;
    cursor: pointer;
  }
}


.confirm {
  color: $color-danger;

  .option {
    margin: 0.35rem;
  }

  .option:hover {
    color: $theme-color-accent;
    border-bottom: 1px solid $theme-color-accent;
    cursor: pointer;
  }
}

.rating {
  font-size: $fontsize-sm;
  color: $color-text-c1;

  a {
    color: $theme-color-accent;
  }

  .stars {
    color: $color-careful;
    margin-right: $padding-unit-sm;
  }

  .ratingCount {
    font-size: 0.75rem;
    font-style: normal;
  }
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: $padding-unit-big;
  font-size: $fontsize-md;

  [class^="icon-thumbs"] {
    margin-left: $padding-unit-sm*0.75;
  }

  a, a:visited {
    color: $color-text-c1;
  }

  a:hover {
    color: $theme-color-accent;
  }

  .voted {
    a, a:visited {
      color: $theme-color-accent;
    }
  }
}


.read-more {
  margin-left: $padding-unit;
  color: $theme-color-accent;
  cursor: pointer;
}

.semi-footer {
  margin: $padding-unit-big*4 0 $padding-unit-big*2;
  padding: $padding-unit-big $padding-unit-md*2 $padding-unit-big*2;
  background-color: $theme-color-accent;
  color: $color-text-c1;
  font-size: $fontsize-md;
  border-radius: $radius-big;

  h4 {
    margin-bottom: $padding-unit-big;
  }
}

.selectable {
  cursor: pointer;
}

.has-sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $padding-unit-big;

  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }

  .sort {
    display: flex;
    flex-wrap: nowrap;
    gap: $padding-unit;
    align-items: baseline;

    label {
      color: $color-text-c1;
    }

    div {
      background-color: $color-background;
      color: $color-text-c1;
      padding: 12px;
      border-radius: $radius-medium;
      display: flex;
      align-items: center;
      border: 1px solid white;

      select {
        appearance: none;
        color: inherit;
        background-color: inherit;

        option {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .sort-direction {
      color: $color-text-c1;
      cursor: pointer;
    }

    .sort-direction:hover {
      color: $theme-color-accent;
    }
  }

}

.resource.sortableHelper {
  // used in the collections modal when doing drag&drop
  z-index: $top-level;
  display: grid;
  grid-template-columns: 1rem 3fr 1fr 1rem;
  justify-content: start;
  background-color: $color-background;
  border-radius: 6px;
  padding: .625rem;
}