.card {
  gap: $padding-unit-md;
  display: flex;
  flex-direction: column;
  background-color: $card-color-bg;
  border-radius: $radius-big;
  padding: $padding-unit-big;
  justify-content: space-between;
  position: relative;

  .card-content {
    display: flex;
    flex-direction: column;

    .card-description {
      font-size: $fontsize-md;
      line-height: $lineheight-base;
      color: $card-text-color;
    }

    .detailed-description-with-image {
      display: flex;
      margin-top: 1.5rem;

      img {
        margin-right: 18px;
      }
    }
  }

  .card-footer {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
}

.card .listing {
  max-height: 260px;
  max-width: 482px;
}