$fontsize-big: 1rem !default;                      //16px
$fontsize-md: $fontsize-big * 0.875 !default;      //14px
$fontsize-sm: $fontsize-big * 0.75 !default;       //12px
$fontsize-tn: $fontsize-big * 0.625 !default;      //10px

$lineheight-base: $fontsize-big * 1.375 !default;   //22px

$padding-unit: $fontsize-big * 0.625;               //10px
$padding-unit-big: $fontsize-big;                   //16px
$padding-unit-md: $fontsize-sm;                     //12px
$padding-unit-sm: $fontsize-tn * 0.8;               //8px
$card-padding: $padding-unit-md;

//radius
$radius-small: 4px;
$radius-medium: 6px;
$radius-big: 8px;

//colors
$theme-color-main: #f5f5f5;
$theme-color-main-c: #737373;
$theme-color-accent: #bdbdbd;
$theme-color-accent-c: #e7e5e5;

//colors text
$theme-color-text: $theme-color-main-c;
$theme-color-text-c: $theme-color-main;

//colors functional
$theme-color-clickme: green;
$theme-color-info: blue;
$theme-color-alert: orange;
$theme-color-danger: red;

// computed colors
$color-background: $theme-color-main;
$color-background-1: darken($theme-color-main, 5);
$color-background-2: darken($theme-color-main, 10);
$color-background-3: lighten($theme-color-main-c, 10);
$color-background-4: lighten($theme-color-main-c, 5);
$color-background-5: $theme-color-main-c;

$color-text: $theme-color-text;
$color-text-c: lighten($theme-color-text, 20);
$color-text-c1: lighten($theme-color-text, 40);
$color-text-c2: lighten($theme-color-text, 60);

$color-status-active: $theme-color-clickme;
$color-status-inactive: $theme-color-info;
$color-red: $theme-color-danger;
$color-yellow: $theme-color-alert;


/* Important Elements Config */

//navbar
$navbar-background: $color-background;
$nav-padding: $padding-unit-md;
$nav-height: $fontsize-big*2 + $nav-padding*2;

//sidebar
$sidebar-background: $color-background-1;
$sidebar-border: $color-background-5;
$sidebar-text-color: $color-text;
$sidebar-width: $fontsize-big*14;

//footer
$footer-background: $color-background-5;
$footer-text-color: $color-text-c1;


//dropdowns
$dropdown-bg: lighten($theme-color-main, 10);
$dropdown-text: lighten($theme-color-main-c, 10);
$dropdown-hover-bg: darken($dropdown-bg, 10);
$dropdown-hover-text: lighten($dropdown-text, 10);

//z-index
$dropdown-zindex: 20000;
$sidebar-zindex: 10000;
$navbarsearch-zindex: 11000;
$collapsible-zindex: 90000;
$modal-backdrop-zindex: 95000;
$modal-content-zindex: 96000;
$top-level: 97000;
$header-zindex: 1;

//width layouts
$width-sm: 450px;
$width-md: 650px;
$width-lg: 850px;
$width-xl: 1050px;