// @import url(//fonts.googleapis.com/css?family=Inter);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//@import "node_modules/bootstrap/scss/utilities";

@import "config/all";

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: $color-background;
  color: $theme-color-text;
}

@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/alert";
@import "static/slim-select/src/slim-select/slimselect.scss";

@import "reset";
@import "animations";
@import "modal";

@import "footer/footer";
@import "forms/all";
@import "layouts";

@import "text";
@import "navbar";
@import "sidebar/all";

@import "elements/all";
@import "skeleton_loading";

@import "responsive";

@import "template/all";